.comment-list {
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: aliceblue;
  .media {
    padding: 10px 5px 0 0;
    margin-left: 10px;
  }
}
.comment-form {
  background-color: aliceblue;
  padding: 10px 5px 10px 5px;
}